main {
  display: block;
  height: auto;
}

/* Clignotement tempo */
#tempo-led {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0.5rem auto;
  background: #444;
  transition: background 0.3s;
}
#tempo-led.active {
  background: #41ead4;
}


/* Infos du morceau */
#morceau-infos {
  margin: 0rem;
  width: 100vw;
  text-align: center;
  padding: 0rem;
}

#description {
  font-size: 0.9rem;
  color: #aaa;
}

.cellule.active {
    box-shadow:
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #0ff,
    0 0 40px #0ff;
  background: rgba(0, 255, 255, 0.2);
  border-color: #0ff;
  transition: box-shadow 0.2s, background 0.2s;
}

.rep {
  margin-left: 1rem;
  font-weight: bold;
  font-family: 'Baloo 2', sans-serif;;
  font-size: 2rem;
  color: #ff9;
}

body.no-scroll {
  overflow: hidden;
  height: var(--app-height);
}

body.scrollable {
  overflow-y: auto;
}

    #selection-container {
  text-align: center;
  backdrop-filter: blur(8px);
  background: rgba(129, 129, 129, 0.123);
  border-radius: 2rem;
  z-index: 1;
}

#selector {
  text-align: center;
  padding: 1vh 1vh;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #222;
  color: white;
}

@media screen and (orientation: portrait) {


  #selection-container {
  padding: 0.5rem 0.5rem;
  margin-top: 0.5vh;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#selector {
  padding: 1vh 1vh;
  border: none;
  border-radius: 0.5rem;
}

#grille-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  padding: 0.5rem;
  box-sizing: border-box;
}
.ligne {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.8rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
   position: relative; 
}

.cellule {
  border: 2px solid #ff85f9a1;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background: rgba(173, 194, 57, 0.267);
  font-family: 'Baloo 2', sans-serif;
  font-size: 5vw;
  min-width: 3ch;
  text-align: center;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  transition: transform 0.2s ease;
  position: relative;
}

.repetition-badge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: #ff9;
  color: #000;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.grille {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.mesure {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Baloo 2', sans-serif;;
}

#grille-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

}

@media screen and (orientation: landscape) {

  #selection-container {
  padding: 0.8rem 1rem;
  margin-top: 1vh;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#selector {
  padding: 1vh 1vh;
  border: none;
  border-radius: 0.5rem;
}
#grille-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vw;
  padding: 0.5rem;
  box-sizing: border-box;
}
.ligne {
  display: flex;
  flex-wrap: nowrap;
  gap: 4rem;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
   position: relative; 
}

.cellule {
  border: 2px solid #ff85f9a1;
  padding: 0.1rem 0.1rem;
  border-radius: 12px;
  background: rgba(173, 194, 57, 0.267);
  font-family: 'Baloo 2', sans-serif;;
  font-size:5vw;
  min-width: 5ch;
  text-align: center;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  transition: transform 0.2s ease;
  position: relative;
}

.repetition-badge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: #ff9;
  color: #000;
  font-size: 1.2rem;
  padding: 2px 5px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.grille {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.mesure {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Baloo 2', sans-serif;;
}

#grille-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}


}